@import "tailwindcss";

@theme {
  --font-avant-garde: "AvantGarde-Md", sans-serif;
  --font-avant-garde-demi: "AvantGarde-Demi", sans-serif;
  --font-avant-garde-bk: "AvantGarde-Bk", sans-serif;

  --color-rd-orange: #e06e26;
  --color-rd-orange-light: #ff893f;
  --color-rd-teal: #319ea4;
  --color-rd-teal-light: #7cd0d5;
  --color-rd-dark: #282828;
  --color-rd-dark-light: #2a2a2a;
}

@font-face {
  font-family: "AvantGarde-Bk";
  src:url(/fonts/ITCAvantGardeStd-Bk.eot?#iefix) format("embedded-opentype"),
      url(/fonts/ITCAvantGardeStd-Bk.otf) format("opentype"),
      url(/fonts/ITCAvantGardeStd-Bk.woff) format("woff"),
      url(/fonts/ITCAvantGardeStd-Bk.ttf) format("truetype"),
      url(/fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantGarde-Demi";
  src:url(/fonts/ITCAvantGardeStd-Demi.eot?#iefix) format("embedded-opentype"),
      url(/fonts/ITCAvantGardeStd-Demi.otf) format("opentype"),
      url(/fonts/ITCAvantGardeStd-Demi.woff) format("woff"),
      url(/fonts/ITCAvantGardeStd-Demi.ttf) format("truetype"),
      url(/fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantGarde-Md";
  src:url(/fonts/ITCAvantGardeStd-Md.eot?#iefix) format("embedded-opentype"),
      url(/fonts/ITCAvantGardeStd-Md.otf) format("opentype"),
      url(/fonts/ITCAvantGardeStd-Md.woff) format("woff"),
      url(/fonts/ITCAvantGardeStd-Md.ttf) format("truetype"),
      url(/fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md) format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  @apply font-avant-garde;
}

#rd-admin-nav {
  z-index: 1;
  box-shadow: -8px 0 14px 14px rgba(0, 0, 0, .6);
}
